[data-theme="nord"] {
  --background: oklch(0.951 0.007 261);
  --foreground: oklch(0.325 0.023 264);
  --card: oklch(0.951 0.007 261);
  --card-foreground: oklch(0.325 0.023 264);
  --popover: oklch(0.951 0.007 261);
  --popover-foreground: oklch(0.325 0.023 264);
  --primary: oklch(0.595 0.077 254);
  --primary-foreground: oklch(0.119 0.015 254);
  --secondary: oklch(0.933 0.01 262);
  --secondary-foreground: oklch(0.588 0.044 264);
  --muted: oklch(0.899 0.016 263);
  --muted-foreground: oklch(0.588 0.044 264);
  --accent: oklch(0.899 0.016 263);
  --accent-foreground: oklch(0.503 0.04 264);
  --destructive: oklch(0.606 0.12 15);
  --destructive-foreground: oklch(0.325 0.023 264);
  --border: oklch(0.588 0.044 264);
  --input: oklch(0.588 0.044 264);
  --ring: oklch(0.595 0.077 254);
  --radius: 0.5rem;
  --chart-1: oklch(0.595 0.077 254);
  --chart-2: oklch(0.933 0.01 262);
  --chart-3: oklch(0.899 0.016 263);
  --chart-4: oklch(0.983 0.003 263);
  --chart-5: oklch(0.682 0.059 254);
  
  --sidebar-background: oklch(0.925 0.012 260);
  --sidebar-foreground: oklch(0.473 0.036 264);
  --sidebar-primary: oklch(0.567 0.08 254);
  --sidebar-primary-foreground: oklch(0.119 0.015 254);
  --sidebar-accent: oklch(0.873 0.021 263);
  --sidebar-accent-foreground: oklch(0 0 0);
  --sidebar-border: oklch(0.566 0.044 264);
  --sidebar-ring: oklch(0.567 0.08 254);
  }

[data-theme="nord"].dark {
  --background: oklch(0.204 0.026 260);
  --foreground: oklch(0.816 0.029 264);
  --card: oklch(0.204 0.026 260);
  --card-foreground: oklch(0.816 0.029 264);
  --popover: oklch(0.204 0.026 260);
  --popover-foreground: oklch(0.816 0.029 264);
  --primary: oklch(0.554 0.102 254);
  --primary-foreground: oklch(0.906 0.033 262);
  --secondary: oklch(0.204 0.026 261);
  --secondary-foreground: oklch(0.548 0.073 264);
  --muted: oklch(0.223 0.032 262);
  --muted-foreground: oklch(0.548 0.073 264);
  --accent: oklch(0.223 0.032 262);
  --accent-foreground: oklch(0.638 0.06 264);
  --destructive: oklch(0.503 0.151 19);
  --destructive-foreground: oklch(0.816 0.029 264);
  --border: oklch(0.548 0.073 264);
  --input: oklch(0.548 0.073 264);
  --ring: oklch(0.554 0.102 254);
  --radius: 0.5rem;
  --chart-1: oklch(0.329 0.054 254);
  --chart-2: oklch(0.647 0.079 261);
  --chart-3: oklch(0.626 0.086 262);
  --chart-4: oklch(0.644 0.082 262);
  --chart-5: oklch(0.42 0.074 254);
  
  --sidebar-background: oklch(0.111 0.009 256);
  --sidebar-foreground: oklch(0.68 0.052 264);
  --sidebar-primary: oklch(0.488 0.088 254);
  --sidebar-primary-foreground: oklch(0.906 0.033 262);
  --sidebar-accent: oklch(0.344 0.06 262);
  --sidebar-accent-foreground: oklch(1 0 0);
  --sidebar-border: oklch(0.479 0.061 264);
  --sidebar-ring: oklch(0.488 0.088 254);
}