[data-theme="winter"] {
  --background: oklch(1 0 0);
  --foreground: oklch(0.419 0.054 256);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.419 0.054 256);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.419 0.054 256);
  --primary: oklch(0.568 0.255 258);
  --primary-foreground: oklch(0.913 0.051 258);
  --secondary: oklch(0.975 0.012 260);
  --secondary-foreground: oklch(0.679 0.057 256);
  --muted: oklch(0.933 0.016 263);
  --muted-foreground: oklch(0.679 0.057 256);
  --accent: oklch(0.933 0.016 263);
  --accent-foreground: oklch(0.59 0.074 256);
  --destructive: oklch(0.731 0.11 20);
  --destructive-foreground: oklch(0.419 0.054 256);
  --border: oklch(0.679 0.057 256);
  --input: oklch(0.679 0.057 256);
  --ring: oklch(0.568 0.255 258);
  --radius: 0.5rem;
  --chart-1: oklch(0.568 0.255 258);
  --chart-2: oklch(0.975 0.012 260);
  --chart-3: oklch(0.933 0.016 263);
  --chart-4: oklch(1.021 0.005 83);
  --chart-5: oklch(0.652 0.272 259);
  
  --sidebar-background: oklch(0.977 0 0);
  --sidebar-foreground: oklch(0.472 0.062 255);
  --sidebar-primary: oklch(0.605 0.216 257);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.903 0.024 263);
  --sidebar-accent-foreground: oklch(0 0 0);
  --sidebar-border: oklch(0.653 0.062 255);
  --sidebar-ring: oklch(0.515 0.181 257);
  }

[data-theme="winter"].dark {
  --background: oklch(0.211 0.009 354);
  --foreground: oklch(0.726 0.063 256);
  --card: oklch(0.211 0.009 354);
  --card-foreground: oklch(0.726 0.063 256);
  --popover: oklch(0.211 0.009 354);
  --popover-foreground: oklch(0.726 0.063 256);
  --primary: oklch(0.649 0.191 254);
  --primary-foreground: oklch(0.199 0.067 256);
  --secondary: oklch(0.196 0.069 257);
  --secondary-foreground: oklch(0.468 0.082 256);
  --muted: oklch(0.199 0.039 262);
  --muted-foreground: oklch(0.468 0.082 256);
  --accent: oklch(0.199 0.039 262);
  --accent-foreground: oklch(0.551 0.1 256);
  --destructive: oklch(0.378 0.138 27);
  --destructive-foreground: oklch(0.726 0.063 256);
  --border: oklch(0.468 0.082 256);
  --input: oklch(0.468 0.082 256);
  --ring: oklch(0.649 0.191 254);
  --radius: 0.5rem;
  --chart-1: oklch(0.319 0.105 255);
  --chart-2: oklch(0.626 0.202 260);
  --chart-3: oklch(0.632 0.116 262);
  --chart-4: oklch(0.632 0.116 262);
  --chart-5: oklch(0.349 0.117 255);
  
  --sidebar-background: oklch(0.114 0.003 353);
  --sidebar-foreground: oklch(0.657 0.08 255);
  --sidebar-primary: oklch(0.596 0.213 257);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.337 0.085 262);
  --sidebar-accent-foreground: oklch(1 0 0);
  --sidebar-border: oklch(0.399 0.067 256);
  --sidebar-ring: oklch(0.596 0.213 257);
}