[data-theme="lofi"] {
  --background: oklch(1 0 0);
  --foreground: oklch(0 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0 0 0);
  --primary: oklch(0.159 0 0);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.961 0 0);
  --secondary-foreground: oklch(0.418 0 0);
  --muted: oklch(0.923 0.001 17);
  --muted-foreground: oklch(0.418 0 0);
  --accent: oklch(0.923 0.001 17);
  --accent-foreground: oklch(0.321 0 0);
  --destructive: oklch(0.787 0.15 29);
  --destructive-foreground: oklch(0 0 0);
  --border: oklch(0.418 0 0);
  --input: oklch(0.418 0 0);
  --ring: oklch(0.159 0 0);
  --radius: 0.5rem;
  --chart-1: oklch(0.159 0 0);
  --chart-2: oklch(0.961 0 0);
  --chart-3: oklch(0.923 0.001 17);
  --chart-4: oklch(1 0 0);
  --chart-5: oklch(0.271 0 0);
  
  --sidebar-background: oklch(0.977 0 0);
  --sidebar-foreground: oklch(0.492 0 0);
  --sidebar-primary: oklch(0.598 0 0);
  --sidebar-primary-foreground: oklch(0 0 0);
  --sidebar-accent: oklch(0.899 0.001 17);
  --sidebar-accent-foreground: oklch(0.321 0 0);
  --sidebar-border: oklch(0.39 0 0);
  --sidebar-ring: oklch(0.116 0 0);
  }

[data-theme="lofi"].dark {
  --background: oklch(0.211 0.009 354);
  --foreground: oklch(0.92 0.006 17);
  --card: oklch(0.211 0.009 354);
  --card-foreground: oklch(0.92 0.006 17);
  --popover: oklch(0.211 0.009 354);
  --popover-foreground: oklch(0.92 0.006 17);
  --primary: oklch(0.92 0.006 352);
  --primary-foreground: oklch(0.211 0.009 354);
  --secondary: oklch(0.212 0.01 338);
  --secondary-foreground: oklch(0.754 0.018 18);
  --muted: oklch(0.21 0.01 18);
  --muted-foreground: oklch(0.754 0.018 18);
  --accent: oklch(0.21 0.01 18);
  --accent-foreground: oklch(0.838 0.011 17);
  --destructive: oklch(0.351 0.134 32);
  --destructive-foreground: oklch(0.92 0.006 17);
  --border: oklch(0.754 0.018 18);
  --input: oklch(0.754 0.018 18);
  --ring: oklch(0.92 0.006 352);
  --radius: 0.5rem;
  --chart-1: oklch(0.313 0.016 354);
  --chart-2: oklch(0.672 0.031 338);
  --chart-3: oklch(0.665 0.03 18);
  --chart-4: oklch(0.665 0.03 18);
  --chart-5: oklch(0.313 0.016 354);
  
  --sidebar-background: oklch(0.114 0.003 353);
  --sidebar-foreground: oklch(0.632 0.027 18);
  --sidebar-primary: oklch(0.582 0.035 353);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.358 0.022 18);
  --sidebar-accent-foreground: oklch(0.838 0.011 17);
  --sidebar-border: oklch(0.685 0.023 18);
  --sidebar-ring: oklch(0.855 0.011 352);
}